*{
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    height: 65px;
    text-align: center;
}

nav{
    width: 150px;
    height: 91vh;
    background-color: red;
    text-align: left;
}