* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    height: 65px;
    text-align: center;
    color: red;
}

nav {
    width: 150px;
    height: 91vh;
    background-color: #000000;
    text-align: left;
    color: red;
}