* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2c2c;
    height: 65px;
    text-align: center;
    font-size: 22px;
    color: white;
    border: white;
}

nav {
    width: 190px;
    height: 91vh;
    background-color: #2c2c2c;
    text-align: left;
    color: red;
    font-size: 25px;
}

.separacao {
    padding-top: 20px;
    padding-left: 10px;
}

a{
    text-decoration:none;
    color:black;
}

a:hover {
    color: red;
}