
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* Cor de fundo do corpo */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Cabeçalho */
header {
  background-color: #000000;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

header h1 {
  font-size: 24px;
  color: #333;
}

/* Menu superior */
.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Logo ou título do menu */
.menu-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  background-color: #ffffff;
}

/* Ícone ou usuário no canto  */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}

/* Container principal com sidebar e conteúdo */
.container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100vw; /* ajusta para altura  */
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #222; /* Cor escura */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar ul {
  list-style: none;
  width: 100%;
}

.sidebar li {
  margin-bottom: 15px;
  width: 100%;
}

.sidebar a {
  color: #ffffff; /* Cor do texto */
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #444; /* Cor ao passar o mouse */
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ddd; /* Cor de fundo do conteúdo */
  overflow-y: auto;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  display: block;
  border-radius: 4px;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #eee;
}