{% extends "template.html" %}

{% block main %}

<div class="form-container">
    <form id="postForm" class="form_categoria" method="POST" action="{{ url_for('cadastro_categorias') }}">
        <h1>Cadastro de Categoria</h1>

        <br><br>

        <div class="form-group">
            <label for="nome_categoria">Nome da Categoria:</label>
            <input id="nome_categoria" name="nome_categoria" type="text">
        </div>

        <br><br>

        <div class="form-actions">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}