{% extends "template.html" %}

{% block main %}
<div class="form-container">
    <form action="submit" method="post">
        <div class="form-group">
            <label for="id_categoria">ID Categoria:</label>
            <select id="id_categoria">
                <option value="categoria_1">categoria_1</option>
                <option value="categoria_2">categoria_2</option>
                <option value="categoria_3">categoria_3</option>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <label for="id_produto">Id do produto:</label>
            <select id="id_produto">
                <option value="id_produto_1">id_produto_1</option>
                <option value="id_produto_2">id_produto_2</option>
                <option value="id_produto_3">id_produto_3</option>
                <option value="id_produto_4">id_produto_4</option>
            </select>
        </div>

        <br><br>

        <div class="form-group">
            <label for="nome_categoria">Descrição</label>
            <textarea id="nome_categoria" placeholder="Nome da Categoria"></textarea>
        </div>

        <br><br>

        <div class="form-actions">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}