{% extends "template.html" %}

{% block main %}
<div class="form-container">
    <form action="submit" method="post">
        Produto

        <br><br>

        <div class="form-group">
            <label for="marca_produto">Marca do Produto</label>
            <select id="marca_produto">
                <option value="nike">Nike</option>
                <option value="adidas">Adidas</option>
                <option value="mizuno">Mizuno</option>
            </select>
        </div>

        <br>
        <br>

        <div class="form-group">
            <label for="cor_produto">Cor do Produto:</label>
            <select id="cor_produto">
                <option value="azul">Azul</option>
                <option value="preto">Preto</option>
                <option value="branco">Branco</option>
                <option value="vermelho">Vermelho</option>

                <option value="rosa">Rosa</option>
                <option value="cinza">Cinza</option>
                <option value="roxo">Roxo</option>
                <option value="marrom">Marrom</option>

                <option value="amarelo">Amarelo</option>
                <option value="verde">Verde</option>
                <option value="violeta">Violeta</option>
                <option value="prata">Prata</option>

            </select>
        </div>

        <br><br>

        <div class="form-group">
            <label for="tamanho">Tamanho:</label>
            <select id="tamanho">
                <option value="44">44</option>
                <option value="43">43</option>
                <option value="42">42</option>
                <option value="41">41</option>
                <option value="40">40</option>
                <option value="39">39</option>
                <option value="38">38</option>
                <option value="37">37</option>
                <option value="36">36</option>
                <option value="35">35</option>
            </select>
        </div>


        <br><br>

        <div class="form-group">
            <label for="custo_produto">Custo R$:</label>
            <input id="custo_produto" type="number" required placeholder="Custo do Produto">
        </div>

        <br><br>

        <div class="form-group">
            <label for="disponivel">Está disponivel:</label>
            <select id="disponivel">
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
        </div>

        <br><br>

        <div class="form-actions">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}