{% extends "template.html" %}

{% block main %}

<div class="form-container">
    <form id="postForm" class="form_entrada" method="POST" action="{{url_for('cadastrar_entradas')}}">
        <h1>Cadastro de Entrada</h1>

        <br><br>

        <div class="form-group">
            <label for="nota_fiscal">Nota Fiscal:</label>
            <input id="nota_fiscal" name="nota_fiscal" type="text">
        </div>

        <br><br>

        <div class="form-group">
            <label for="valor_entrada">Valor de Entrada:</label>
            <input id="valor_entrada" name="valor_entrada" type="number">
        </div>

        <br><br>

        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input id="quantidade" type="number">
        </div>

        <br><br>

        <div class="form-group">
            <label for="data_entrada">Data de Entrada:</label>
            <input id="data_entrada" type="date">
        </div>

        <br><br>

        <br><br>

        <div class="form-actions">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}