{% extends "template.html" %}

{% block main %}
<div class="form-container">
    <form id="postForm" class="form_pessoa"  method="POST" action="{{ url_for('cadastro_pessoas') }}">
        <h1>Cadastro de Pessoa</h1>

        <br><br>

        <div class="form-group">
            <label for="nome_pessoa">Nome:</label>
            <input id="nome_pessoa" name="nome_pessoa" type="text" required placeholder="Escreva o Nome">
        </div>

        <br><br>

        <div class="form-group">
            <label for="cpf_pessoa">CPF:</label>
            <input id="cpf_pessoa" name="cpf_pessoa" type="text" required placeholder="Escreva o CPF (11 dígitos)">
        </div>

        <br><br>

        <div class="form-group">
            <label for="cargo">Cargo:</label>
            <input id="cargo" name="cargo" type="text" required placeholder="Escreva o Cargo">
        </div>

        <br><br>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input id="senha" name="senha" type="password" required placeholder="Escreva a Senha">
        </div>

        <br><br>

        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
        </div>

        <br><br>

        <div class="form-actions">
            <button type="submit">Enviar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}
