<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organização da Gestão de Pedidos</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
<header><h1>Organização da Gestão de Pedidos</h1></header>
<main>
    <nav>
        <ul>
            <li>Menu</li>
            <li>Lista Clientes</li>
            <li>Lista Calçados</li>
            <li>Pedidos</li>
            <li>Cadastro de Pedidos</li>
            <li>Cadastro de Clientes</li>
            <li>Cadastro de calçados</li>
        </ul>
    </nav>



</main>

</body>
</html>