<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organização da Gestão de Pedidos</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
<header><h1>Menu</h1></header>
<main>
    <nav>
        <ul>
            <li>
                <div class="separacao">Menu</div>
            </li>

            <li>
                <div class="separacao">Lista Clientes</div>
            </li>

            <li>
                <div class="separacao">Lista Calçados</div>
            </li>

            <li>
                <div class="separacao">Pedidos</div>
            </li>

            <li>
                <div class="separacao">Cadastro de Pedidos</div>
            </li>

            <li>
                <div class="separacao"> de Clientes</div>
            </li>

            <li>
                <div class="separacao"> Cadastro de calçados</div>
            </li>
        </ul>
    </nav>


</main>

</body>
</html>