<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organização da Gestão de Pedidos</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
<header><h1>Menu</h1></header>
<main>
    <nav>
        <ul>
            <li>
                <div class="separacao"><a href="inicio.html"> Menu</a></div>
            </li>

            <li>
                <div class="separacao"><a href="lista_clientes.html">Lista Clientes</a></div>
            </li>

            <li>
                <div class="separacao"><a href="lista_calcados.html">Lista Calçados</a></div>
            </li>

            <li>
                <div class="separacao"><a href="pedidos.html">Pedidos</a></div>
            </li>

            <li>
                <div class="separacao"><a href="cadastro_pedidos.html">Cadastro de Pedidos</a></div>
            </li>

            <li>
                <div class="separacao"><a href="cadastro_clientes.html">Cadastro de Clientes</a></div>
            </li>

            <li>
                <div class="separacao"><a href="cadastro_calcados.html">Cadastro de calçados</a></div>
            </li>
        </ul>
    </nav>


</main>

</body>
</html>