{% extends "template.html" %}

{% block main %}

<h2><a href="{{ url_for('cadastrar_pessoas') }}">Novo Funcionario</a></h2>

<div class="cards-container">

    {% if clientes %}
        {% for item in clientes %}
        <div class="card">
            <p><strong>Funcionario:</strong> {{ item.nome_pessoa }}</p>
            <p><strong>Cargo:</strong> {{ item.cargo }}</p>
            <p><strong>Status:</strong> {{ item.status }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Não há nenhum funcionario cadastrado.</p>
    {% endif %}

</div>

{% endblock %}
