{% extends "template.html" %}


{% block main %}
<div class="card">
    <img src="/static/Tênis%20Lite%20Racer%204.0.avif"
         alt="Tênis Lite Racer 4.0"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Adidas%20Advantage%20Base%202.0%20Masculino%20-%20Azul.webp"
         alt="Tênis Adidas Advantage Base 2.0 Masculino- Azul"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Adidas%20Duramo%20RC%202%20Masculino%20-%20Azul%20Turquesa.webp"
         alt="Tênis Adidas Duramo RC 2.0 Masculino- Azul Turquesa"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Mizuno%20Wave%20Dynasty%207%20Masculino%20-%20Preto.webp"
         alt="Tênis Mizuno Wave Dynasty 7 Masculino- Preto"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Nike%20Air%20Max%20SC%20Masculino.avif"
         alt="Tênis Nike Air Max SC Masculino"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Nike%20Air%20Max%2090%20Masculino.avif"
         alt="Tênis Nike Air Max 90 Masculino"
         height="100px"
         width="100px">
</div>

<div class="card">
    <img src="/static/Tênis%20Nike%20Killshot%202%20Feminino.avif"
         alt="Tênis Nike Killshot 2 Feminino"
         height="100px"
         width="100px">
</div>
{% endblock %}
