{% extends "template.html" %}

{% block main %}

<a href="{{ url_for('cadastrar_produto') }}">Novo Produto</a>

<div class="cards-container">

    {% if produtos %}
        {% for item in produtos %}
        <div class="card">
            <p><strong>Nome:</strong> {{ item.nome_produto }}</p>
            <p><strong>Marca:</strong> {{ item.marca_produto }}</p>
            <p><strong>Tamanho:</strong> {{ item.tamanho }}</p>
            <p><strong>Preço:</strong> R$ {{ "%.2f"|format(item.custo_produto) if item.preco is not none else "0.00" }}</p>
            <p><strong>Quantidade:</strong> {{ item.qtd_produto }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Não há nenhum Produto Cadastrado.</p>
    {% endif %}

</div>

{% endblock %}
