{% extends "template.html" %}


{% block main %}

<a href="{{ url_for('cadastrar_produto') }}">Novo Produto</a>

<div class="cards-container">
    {% for item in produtos %}
    <div class="card">
        <p><strong>Produto:</strong> {{ item.nome_produto }}</p>
        <p><strong>Quantidade:</strong> {{ item.qtd_produto }}</p>
        <p><strong>Tamanho:</strong> {{ item.tamanho }}</p>
        <p><strong>Marca:</strong> {{ item.marca_produto }}</p>
        <p><strong>Custo:</strong> R$ {{ item.custo_produto }}</p>
        <p><strong>Gênero:</strong> {{ item.genero }}</p>
        <p><strong>Disponível:</strong> {{ item.disponivel }}</p>
        <p><strong>Categoria:</strong> {{ item.id_categoria }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
