<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css" />
</head>
<body>
<form action="submit" method="POST">
    <div class="icon">👤</div>    <!--coloque uma imagem aqui leo -->
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Digite o email" required>

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" placeholder="Digite a senha" required>

    <button type="submit"><link href="/templates/template.html">Logar</button>

    <div class="esqueceu">
        Esqueceu sua senha?
    </div>
</form>
</body>
</html>