{% extends "template.html" %}


{% block main %}

<a href="{{ url_for('cadastrar_pedidos') }}">Novo Pedido</a>

<div class="cards-container">
    {% for item in pedidos %}
    <div class="card">
        <p><strong>Forma de Pagamento:</strong> {{ item.forma_pagamento }}</p>
        <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
        <p><strong>Data de Emissão:</strong> {{ item.data_emissao }}</p>
        <p><strong>Valor da Venda:</strong> {{ item.valor_venda }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

