<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organização da Gestão de Pedidos</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
<header>
    <div class="menu-top">
        <div class="menu-title">Menu</div>
        <div class="menu-icon">👤</div>
    </div>
</header>
<div class="container">
    <aside class="sidebar">
        <ul>
            <li>
                <div class="separacao"><a href="{{ url_for('template') }}">Menu</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('lista_clientes') }}">Lista Clientes</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('lista_calcados') }}">Lista Calçados</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('pedidos') }}">Pedidos</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('cadastro_pedidos') }}">Cadastro de Pedidos</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('cadastro_clientes') }}">Cadastro de Clientes</a></div>
            </li>

            <li>
                <div class="separacao"><a href="{{ url_for('cadastro_calcados') }}">Cadastro de calçados</a></div>
            </li>
        </ul>
        </aside>
<main class="main-content">
        {% block conteudo %}

        {% endblock %}

</main>
</div>
</body>
</html>



